@model ConstrutoraWeb.Models.ReservaAreaViewModel

@{
    ViewBag.Title = "Reservar";
}

<h2>Reservar</h2>
<style type="text/css">
    .btn-topo
    {
        margin-top: -23px;
        /*margin: 10px;*/
    }
</style>


@using (Html.BeginForm("Reservar", "ReservaArea", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="panel panel-info">
            <div class="panel-heading col-md-12">
                <h4 class="panel-title">Reservar Area do Condominio: @Model.ReservaArea.Morador.Apartamento.Predio.Bloco.Condominio.Nome</h4>
                <a href="@Url.Action("Index", "ReservaArea")" class="btn btn-info pull-right btn-topo">
                    <span class='glyphicon glyphicon-share-alt'></span> Voltar
                </a>
            </div>
            <div class="panel-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-2">Selecione a Área</label>
                    <div class="col-md-10">
                        <select name="AreaID" id="slAreaID" class="form-control" onselect="" required>
                            <option value="">Selecione um serviço</option>
                            @foreach (var item in ViewBag.ListaAreas)
                            {
                                if (item.Status)
                                {
                                    <option value="@item.AreaID" @(item.AreaID == Model.AreaID ? "selected" : "" )>@item.NomeArea</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DataReserva, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DataReserva, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DataReserva, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-info">
                            <span class='glyphicon glyphicon-floppy-saved'></span> Salvar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
