@model ConstrutoraWeb.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logar</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group col-md-12" align="center">
            <div class="panel col-md-pull-2" align="center">
                <div class="panel panel-default col-md-12" align="center">
                    <div class="panel-info panel-heading">
                        <h4 class="text-center">Inform os Seguintes dados</h4>
                    </div>
                    <div class="panel-body form-group">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group" align="center">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" align="center">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Logar" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
